Custom Zoom Button Styling .leaflet-control-zoom {
  background-color: white;
  border-radius: 100px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  overflow: hidden;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: white;
  color: black;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  border: none;
  display: block;
  height: 40px !important;
  width: 40px !important;
  line-height: 40px !important;

  transition: background-color 0.3s ease !important;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  background-color: #e0e0e0 !important;
}

.leaflet-container {
  border-radius: 1rem; /* same as rounded-2xl */
}
