@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.find-me-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  padding: 8px 12px;
  background: #ffffff;
  color: #333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.find-me-btn:hover {
  background: #e0e0e0;
}
@font-face {
  font-family: "TeslaSlab";
  src: url("/src/assets/TESLA.ttf") format("truetype"); /* Replace with actual path */
  /* Or specify different weights if needed */
}
.tesla-text {
  font-family: "TeslaSlab";
  /* Add other styles as desired */
}

/* Style the zoom control container */
/* Move zoom control to bottom-right */

/* Zoom In (+) button */
